body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

/* Caixa da calculadora */
.calculadora {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Display */
#display {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #0f172a;
    color: white;
}

/* GRID DOS BOTÕES */
.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Botões */
button {
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #334155;
    color: white;
    transition: 0.2s;
}

/* Hover */
button:hover {
    background-color: #475569;
}

/* Operadores */
button:nth-child(4n) {
    background-color: #2563eb;
}

/* Botão "=" */
button:nth-last-child(2) {
    background-color: #22c55e;
}

/* Botão "C" */
button:nth-last-child(3) {
    background-color: #ef4444;
}